{% extends "districts.html" %}
{% block title %}Dong Da{% endblock %}
{% block top %}
<div class="top" style="
background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(https://gcs.tripi.vn/public-tripi/tripi-feed/img/472187uUZ/kham-pha-go-dong-da-ha-noi-kham-pha-di-tich-lich-su-quoc-gia-hap-dan);
background-position: center;
background-size: cover;">
    <div class="hero-text">
        <p class="logo" id="logo">DONG DA</p>        
    </div>
</div>
{% endblock %}
{% block content %}
<div class="option" id="du_lich" onclick="window.location.href='dongdaattractions'" style="
background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(https://lh4.googleusercontent.com/proxy/jqVfDmU4Wx1VnrIU0f2tv6TnMM2rl4QYMajYYMHzc-8TfjMVNF5-cR4Wuqz6oZqrujXMA3zAQj5Jj_oZbo5NgcMYdtvNmICkMvG7ohp9YMvDOgfI4yvGqbkMQkPTvn9CbYK0);
background-size: cover;
background-position: center 80%;">attractions</div>
<div class="option" id="an_uong" onclick="window.location.href='dongdafood'" style="
background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjiwF1V5HCXLD0e3rF99pm2ucEGr0nQFn-UA&s);
background-size: cover;
background-position: center;">food</div>
{% endblock %}
